#title {
  background-color: #ff4c68;
  color: white;
}

body {
  font-family: Montserrat;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 0;
  right: 30%;
}

#features {
  text-align: center;
  padding: 7% 15% 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
  font-weight: 900;
}

.feature-text {
  color: #8f8f8f;
}

#testimonials {
  background-color: #ef8172;
  color: white;
  text-align: center;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 3% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width:1028px) {
  #title{
    text-align: center;
  }

  .title-image{
    position:static;
    transform: rotate(0);
  }
}

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding-top: 30px;
}

.cta-title{
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
  text-align: center;
}

#footer{
  background-color: #fff;
  text-align: center;
  padding: 50px;
  font-size: 10px;
}

.footer-img{
  margin: 5px;
}

#copyright-text{
  color: grey;
}
